<a href="https://colab.research.google.com/github/NaqashZulfiqar/Python-Learning/blob/main/PMYSD-PB-3/Class-2-20260217.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Set**

In [ ]:
#Set
my_set = {1,2,3,3,4} #duplicate
print(my_set)
frozen = frozenset(my_set) #immutable

{1, 2, 3, 4}

Mappint **Type**

In [ ]:
#Dictionary
student = {"name": "Adil","age":22,"course": "AI",
           "name1":"Asad","age1":24,"course1":"Java",
           "name2":"Asad","age2":24,"course2":"Java"}
print(student["name"],student["age"])

Adil 22

**Boolean**

In [ ]:
x = True
y= False
print(type(x))

<class 'bool'>

**Binary**

In [ ]:
byte_data = b"AI"
print(type(byte_data))

mutable_bytes = bytearray([65,66,67])
mutable_bytes[0] = 68
print(mutable_bytes)

<class 'bytes'>
bytearray(b'DBC')

Type **Conversion**

In [ ]:
x =10
print(type(x))

#Type Conversion
y = float(x)
z= str(x)
print(y,z)

<class 'int'>
10.0 10

Data Structure
**List**

In [ ]:
numbers = [10,20,30,25,35]
numbers.sort()
#Accessing Elements
print(numbers[1])
#Slicing
print(numbers[:1])
print(numbers[:2])
print(numbers[1:4])
print(numbers[:4])
#adding elements
numbers.append(50)
numbers.append(60)
print(numbers)

#Removing elements
numbers.remove(25)
print(numbers)

20
[10]
[10, 20]
[20, 25, 30]
[10, 20, 25, 30]
[10, 20, 25, 30, 35, 50, 60]
[10, 20, 30, 35, 50, 60]

**Set**

In [ ]:
seta = {1,2,3,4}
setb = {4,5,6}
#adding elements
setb.add(7)
#union
print(seta | setb)
#intersection
print(seta & setb)
#difference
print(seta - setb)
seta.add(10)
print(seta)
#remove
seta.remove(10)
print(seta)

{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3}
{1, 2, 3, 4, 10}
{1, 2, 3, 4}

**Dictionary**

In [ ]:
student = { "name": "asad","age":21,"course":"AI"}
#Accessing values
print(student["name"])

#Adding a new key-value pair
student["grade"]="A"
print(student)

#removing a key-value pair
del student["age"]
print(student)

asad
{'name': 'asad', 'age': 21, 'course': 'AI', 'grade': 'A'}
{'name': 'asad', 'course': 'AI', 'grade': 'A'}

**Array**

In [ ]:
import array
#Creating an integer array
arr = array.array('i',[1,2,3,4,5])
print(arr)

#Accessing elements
print(arr[0])

#adding
arr.append(10)
print(arr)

#remove
arr.remove(10)
print(arr)

#change
arr[1]=100
print(arr)

array('i', [1, 2, 3, 4, 5])
1
array('i', [1, 2, 3, 4, 5, 10])
array('i', [1, 2, 3, 4, 5])
array('i', [1, 100, 3, 4, 5])

Conditional **Statement**

In [ ]:
marks = 55
if marks >= 90:
 print("Grade A")
elif marks >= 60:
 print("Grade B")
elif marks >= 50 :
 print("Grade C")
else:
    print("You are fail")

Grade C

Foor **loop**

In [ ]:
fruits = ["apple","banana","chery"]
for fruit in fruits:
 print(fruit)

 #range
 for i in range(5):
    print(i)

apple
0
1
2
3
4
banana
0
1
2
3
4
chery
0
1
2
3
4

In [ ]:
num = 5
for i in range(1,11):
    #print(i * num)
    print(num ,'X', i,"=",num *i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

While **loop**

In [ ]:
count = 0
while count < 5:
    print("Count:",count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

Loop **base**

In [ ]:
for i in range(10):
    if i == 5:
        break #exit loop when i is 5
    if i == 3:
        continue # skips printing when i is 3
    if i == 2:
        pass #does nothing
    print(i)

0
1
2
4