<a href="https://colab.research.google.com/github/NaqashZulfiqar/Python-Learning/blob/main/PMYSD-P-B-3/Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise**

1. Swap two variables without using a third variable.

In [ ]:
a = 5
b = 10
a,b = b,a
print(a,b)

10 5

2. Write a program that takes a user’s name and age as input and prints a greeting message.

In [ ]:
name = str(input("Please enter user name : "))
age = int(input("Please enter age : "))
print(f"Hello,{name}! Your age is {age}, Welcome to PMYDSP-B-3")

Please enter user name : Naqash Zulfiqar
Please enter age : 30
Hello,Naqash Zulfiqar! Your age is 30, Welcome to PMYDSP-B-3

3. Convert a given temperature from Celsius to Fahrenheit using the formula: F=(C×9/5)+32F = (C \times 9/5) + 32F=(C×9/5)+32

4. Create a list with at least 5 elements and print the first and last element.

In [ ]:
numbers = [1,3,5,7,9,11,13]
print("First element :",numbers[0],", Last element :",numbers[-1])

First element : 1 , Last element : 13

5. Write a Python script to check whether a given number is positive, negative, or zero.

In [ ]:
number = int(input("Pleast enter a number : "))
if(number > 0):
    print("Given number is positive")
elif(number == 0):
    print("Given number is zero")
else:
    print("Given number is negative")

Pleast enter a number : -1
Given number is negative

6. Take a string input from the user and print :

    1.   The string in uppercase
    2.   The string in reverse order
    3.   The number of characters in the string

In [ ]:
string = str(input("Please enter a string value : "))
print("String in upper case : ",string.upper())
print("Number of character in string is : ",len(string))

Please enter a string value : Naqash
String in upper case :  NAQASH
Number of character in string is :  6

7. Create a list of five programming languages and print them one by one.

In [ ]:
languages = ["Python","C Sharp","Java","PHP","C++"]
i = 0
for language in languages:
    i += 1
    print(i," : ",language)

1  :  Python
2  :  C Sharp
3  :  Java
4  :  PHP
5  :  C++

8. Create a tuple with (name, age, city) and print the values using indexing.

In [ ]:
info_tuple = ("Naqash",30,"Islamabad")
print("Name : ",info_tuple[0])
print("Age : ",info_tuple[1])
print("City : ",info_tuple[2])

Name :  Naqash
Age :  30
City :  Islamabad

9. Given a list numbers = [4, 7, 2, 9, 1, 5], write a program to:
    1.   Sort the list in ascending order.
    2.   Find and print the maximum and minimum values.

In [ ]:
numbers = [4,7,2,9,1,5]
numbers.sort() #Sort in ascending order
print("List in ascending order : ",numbers)
print("Maximum number is : ",max(numbers))
print("Minimum number is : ",min(numbers))

List in ascending order :  [1, 2, 4, 5, 7, 9]
Maximum number is :  9
Minimum number is :  1

10. Write a Python script to:
    1.   Create a dictionary with student names as keys and their marks as values.
    2.   Print the student with the highest marks.

In [ ]:
students = {"Asad":"90","Ajmal": "80","Naqash":"75","Babar":"56"}
top_student = max(students,key=students.get)
print("Student with the highest marks : ",top_student)
print("Marks : ",students[top_student])

Student with the highest marks :  Asad
Marks :  90

11. Write a program that asks the user for a number and prints "Even" if it's even, and "Odd" otherwise.

In [ ]:
number = int(input("Please enter a number : "))
def isEven(number):
    if(number % 2 == 0):
        print("Given number is even.")
    else:
        print("Given number is odd")
isEven(number)

Please enter a number : 5
Given number is odd

12. Write a Python script that checks whether a given year is a leap year.

In [ ]:
year = int(input("Please enter year"))
def isLeapYear(year):
    if(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(year,"is a leap year")
    else:
        print(year,"is not a leap year")

isLeapYear(year)

Please enter year2025
2025 is not a leap year

13. Develop a simple grading system:
    1.   Input: User enters marks (0-100).
    2.   Output: Print grades:
        1.   80-100: "A"
        2.   70-79: "B"
        3.   60-69: "C"
        4.   50- 60: "D"
        5.   <50: “F”

In [ ]:
marks = int(input("Please enter marks between 0-100 : "))
def grades(marks):
    if(marks > 80 and marks <= 100):
        print(f"Your marks is {marks} and Grade : A")
    elif(marks > 70 and marks <= 79):
        print(f"Your marks is {marks} and Grade : B")
    elif(marks > 60 and marks <= 69):
        print(f"Your marks is {marks} and Grade : C")
    elif(marks > 50 and marks <= 60):
        print(f"Your marks is {marks} and Grade : D")
    else:
        print(f"Your marks is {marks} and Grade : F")

grades(marks)

Please enter marks between 0-100 : 90
Your marks is 90 and Grade : A

14. Write a Python script that prints numbers from 1 to 10 using a for loop.

In [ ]:
def number():
    for numbers in range(11):
        if(numbers > 0):
            print("Number from 1 to 10 : ", numbers)
number()

Number from 1 to 10 :  1
Number from 1 to 10 :  2
Number from 1 to 10 :  3
Number from 1 to 10 :  4
Number from 1 to 10 :  5
Number from 1 to 10 :  6
Number from 1 to 10 :  7
Number from 1 to 10 :  8
Number from 1 to 10 :  9
Number from 1 to 10 :  10

15. Print all even numbers between 1 and 20 using a while loop.

In [50]:
number = 1
def evenNumbers(number):
    while number <= 20:
        if(number % 2 == 0):
            print("Even number : ", number)
        number += 1


evenNumbers(number)

Even number :  2
Even number :  4
Even number :  6
Even number :  8
Even number :  10
Even number :  12
Even number :  14
Even number :  16
Even number :  18
Even number :  20