<a href="https://colab.research.google.com/github/NaqashZulfiqar/Python-Learning/blob/main/PMYSD-P-B-3/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Functions**

In [ ]:
#functions
def greet(name):
    print(f"Hello,{name}! Welcome to AI & ML") #f is format specifier here used for name!
greet("Ajmal")

Hello,Ajmal! Welcome to AI & ML

In [ ]:
#Function
def square(num):
    return num * num
result = square(5)
print("Square of 5 :", result)

Square of 5 : 25

In [ ]:
#Function Adding
def addition(a,b):
    return a + b
print("Sum : ",addition(10,20))

Sum :  30

In [ ]:
#Calculator
#
a = int(input("Enter Value 1 :"))
b = int(input("Enter Value 2 :"))
def calculator(a,b):
    #add = a + b
    return a + b,a-b,a/b
calculator(a,b)

#print()

Enter Value 1 :4
Enter Value 2 :6

(10, -2, 0.6666666666666666)

In [ ]:
marks = int(input("Please enter Student Marks :"))
def studenMarks(marks):
    if(marks >= 60 and marks <= 64):
        print("Student Grade is : C")
    elif(marks >= 65 and marks <=69):
        print("Student Grade is : C+")
    elif(marks >= 70 and marks <=74):
        print("Student Grade is : B")
    elif(marks >= 75 and marks <=79):
        print("Student Grade is : B+")
    elif(marks >= 80 and marks <=100):
        print("Student Grade is : A")
    else:
        print("You are Fail")
studenMarks (marks)

Please enter Student Marks :49
You are Fail

Built in **Functions**

In [ ]:
#Built in Function
numbers = [-10,25,30,-5,100]
print("Maximum  : " ,max(numbers))
print("Minimum  : " ,min(numbers))
print("Absolute value of -10  : " ,abs(-10))# Absolute make that no positive

Maximum  :  100
Minimum  :  -10
Absolute value of -10  :  10

In [ ]:
data = [3,1,4,1,5,9]
print("Length :",len(data))
print("Sum :",sum(data))
print("Sorted : ",sorted(data))

Length : 6
Sum : 23
Sorted :  [1, 1, 3, 4, 5, 9]